{% extends 'base.html' %}

{% block title %}Especialistas - Centro Médico{% endblock %}

{% block content %}
<section class="hero-section">
        <div class="container">
            <h1 class="display-4">Nuestros Especialistas</h1>
            <p class="lead">Conoce a nuestros especialistas altamente calificados y encuentra el mejor cuidado para ti.</p>
        </div>
    </section>

    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-body">
                <!-- Tabla de Especialistas Médicos -->
                <h2 class="text-center mb-4">Lista de Especialistas</h2>
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Contacto</th>
                    </thead>
                    <tbody>
                        {% for especialista in especialistas %}
                        <tr>
                            <td>{{ especialista.id }}</td>
                            <td>{{ especialista.nombre }}</td>
                            <td>{{ especialista.especialidad }}</td>
                            <td>{{ especialista.contacto }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}