{% extends "base.html" %}

{% block title %}Reservar Cita{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Reservar Cita Médica</h1>
    <h2 class="text-center">Dr. {{ medico.apellido }}</h2>
    <form method="POST" action="{{ url_for('reservar_cita', id_medico=medico.id_medico) }}">
        <!-- Selección de Fecha -->
        <div class="mb-3">
            <label for="fecha" class="form-label">Seleccionar Fecha</label>
            <select class="form-select" name="fecha" id="fecha" required>
                <option value="" disabled {% if not request.form.get('fecha') %}selected{% endif %}>
                    Seleccione una fecha
                </option>
                {% for fecha in fechas %}
                <option value="{{ fecha }}" {% if request.form.get('fecha') == fecha %}selected{% endif %}>
                    {{ fecha }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Selección de Bloque -->
        {% if bloques %}
        <div class="mb-3">
            <label for="bloque" class="form-label">Seleccionar Bloque Horario</label>
            <select class="form-select" name="bloque" id="bloque" required>
                <option value="" disabled {% if not request.form.get('bloque') %}selected{% endif %}>
                    Seleccione un bloque
                </option>
                {% for bloque, horario in bloques.items() %}
                <option value="{{ bloque }}" {% if request.form.get('bloque') == bloque|string %}selected{% endif %}>
                    {{ horario }}
                 </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <!-- Botón Reservar -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Reservar Cita</button>
        </div>
    </form>
</div>
{% endblock %}
